{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#ffffff">
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, viewport-fit=cover">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<script src="{% static 'main/js/script.js' %}"></script>
	<script src="{% static 'main/js/jquery-3.4.1.min.js' %}"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body onload="setRating()">

    {% block content %} {% endblock %}

	<script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>